@import '../../scss/variables.scss';

.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  box-shadow: 0px 4px 8px -2px rgba(41, 51, 41, 0.1),
    0px 2px 4px -2px rgba(41, 51, 41, 0.06);
  padding: 32px;

  .logo {
    position: relative;
    border-right: 1px solid $grey100;
    margin-right: 48px;
    cursor: pointer;
    & > * {
      fill: #bcc8bc;
    }
    @media screen and (max-width: $size-m) {
      margin-right: 8px;
    }
  }
  .navigationList {
    display: flex;
    flex-direction: row;
    & > li:not(:last-child) {
      margin-right: 48px;
      @media screen and (max-width: $size-m) {
        margin-bottom: 8px;
        margin-right: 0px;
      }
    }
    @media screen and (max-width: $size-m) {
      flex-direction: column;
    }
    .link {
      color: $accentColor;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      & > p {
        margin-left: 13px;
      }
      @media screen and (max-width: $size-m) {
        margin-left: 8px;
      }
      & > * {
        fill: none;
        stroke: #90a390;
      }
    }

    .activeLink {
      @extend .link;
      color: $accentColorActive;

      & > * {
        fill: none;
        stroke: #293329;
      }
    }
  }

  .notificationsWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;

    :not(:last-child) {
      margin-right: 8px;
    }
    .notification {
      position: relative;
      width: 48px;
      height: 48px;
      background: $primary50;
      align-items: center;
      border: 1px solid #f4f6f4;
      /* xs */

      box-shadow: 0px 1px 2px rgba(24, 40, 16, 0.05);
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background: #dde4dd;
      }
      & > p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
      }
      & > svg {
        stroke: #546554;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}
