@import '../../scss/variables.scss';

.searchWrapper {
  margin-bottom: 30px;

  .inputSearch {
    background: #ffffff;
    box-shadow: $boxShadow;
    border: 1px solid $borderColor;
    border-radius: 8px;
    padding: 18px;
    width: 30%;

    &:focus {
      outline: 2px solid $accentColor;
    }

    &:focus-visible {
      outline: 2px solid $accentColor;
    }
  }
}
