// add space

@import '../../scss/variables.scss';
.filterModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  &.open {
    display: block;
  }
}

.filterModalContent {
  width: 70vh;
  height: auto;
  max-height: 400px;
  overflow: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    margin-bottom: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $accentColor;
    border-radius: 2px;
  }
}

.filterModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.filterTabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.filterTabWrapper {
  margin-bottom: 30px;
}

.filterTab {
  width: 100%;
  background: #ffffff;
  box-shadow: $boxShadow;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 18px;
  cursor: pointer;
  background-color: $grey100;
}

.filterTabContent {
  margin-top: 10px;
  height: 200px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  background: #ffffff;
  box-shadow: $boxShadow;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 18px;
  cursor: pointer;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    margin-bottom: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $grey100;
    border-radius: 2px;
  }
}

.buttonFiltering {
  width: 100%;
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: $boxShadow;
  border: 2px solid $accentColor;
  border-radius: 8px;
  padding: 18px;
  cursor: pointer;

  & svg {
    width: 14px;
    height: 14px;
    margin-left: 5px;
    cursor: pointer;
    fill: $accentColor;
    margin-right: 15px;
  }
}
