@import '../../scss/variables.scss';

.productItem {
  height: 52px;
  border-bottom: 1px solid #e4e7ec;
  &:first-child {
    border-top: 1px solid #e4e7ec;
  }
  &:hover,
  &:focus {
    background: #f9fafb;
    cursor: pointer;
  }

  .id {
    position: relative;

    .deleteButton {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-0%, -50%);
      width: 14px;
      height: 14px;
      margin-left: 5px;
      cursor: pointer;
      fill: rgb(160, 63, 63);
      margin-right: 15px;
    }
  }
}
