@import '../../scss/variables.scss';

.productItem {
  height: 52px;
  border-bottom: 1px solid $borderColor;
  &:first-child {
    border-top: 1px solid $borderColor;
  }
  &:hover,
  &:focus {
    background: $primary50;
    cursor: pointer;
  }

  .id {
    position: relative;

    .deleteButton {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-0%, -50%);
      width: 14px;
      height: 14px;
      margin-left: 5px;
      cursor: pointer;
      fill: $warningColor;
      margin-right: 15px;
    }
  }
}
